<mat-tab-group selectedIndex="6">

  <mat-tab label="routing">
    <routing-comp></routing-comp>
  </mat-tab>

  <mat-tab label="service-test">
    <service-tests-comp></service-tests-comp>
  </mat-tab>

  <mat-tab label="directives-test">
    <directives-tests-comp></directives-tests-comp>
  </mat-tab>

  <mat-tab label="Serverino">
    <app-serverino></app-serverino>
  </mat-tab>

  <mat-tab label="Shop">
   <recipeShop-comp></recipeShop-comp>
  </mat-tab>

  <mat-tab label="One">
    <app-servers></app-servers>
  </mat-tab>

  <mat-tab label="Tests">
    <all-task-comp></all-task-comp>
  </mat-tab>

</mat-tab-group>
