<div class="row">
    <div class="col">
      <div class="list-group-item">
        <h5 class="list-group-item-heading">{{ account.name }}</h5>
        <hr>
        <p class="list-group-item-text">This account is {{ account.status }}</p>
        <button class="btn btn-success" (click)="onSetTo('active')">Set to 'active'</button>
        <button class="btn btn-warning" (click)="onSetTo('inactive')">Set to 'inactive'</button>
        <button class="btn btn-info" (click)="onSetTo('unknown')">Set to 'unknown'</button>
      </div>
    </div>
  </div>

